.FrontPage {
    background-image: url('../img/—Pngtree—taobao vector creative technology online_1110799.jpg');
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.FrontPage div {
    height: calc(100vh - 100px);
    width: 100%;
}